h1 {
  color: rgb(120, 91, 158);
}

body {
  background-color: #eeecec;
  color: #ffffff;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.container {
  width: 40%;
  margin: auto;
  border: 5px rgb(120, 91, 158);
}
.sk1 {
  text-align: left;
  margin: 46px;
  padding: 2px;
}
.login {
  background-color: #b29adf;
  color: rgb(0, 0, 0);

  border-right: 5px rgb(54, 0, 141) solid;
  border-left: 5px rgb(54, 0, 141) solid;
  border-top: 5px rgb(229, 215, 252) solid;
  border-bottom: 5px rgb(229, 215, 252) solid;
  
  
}
.bod {
  background-color: #e7e4e4;
  color: #000000;
  

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.img {
  background-color: #b29adf;
  border-right: 5px rgb(54, 0, 141) solid;
  border-left: 5px rgb(54, 0, 141) solid;
  border-top: 5px rgb(229, 215, 252) solid;
  border-bottom: 5px rgb(229, 215, 252) solid;
  border-width: 3px;
  border-bottom-width: 3px;
  border-radius: 15px;
  padding: 60px;
  width: 80%;
  margin: auto;
  text-align: center;
}
h2 {
  color: #ffffff;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 55px;
  font-weight: normal;
  line-height: 0.6em;
  padding: 2px;
}
.img h2 {
  font-family:'Haettenschweiler';
  letter-spacing: 1.2em;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin-left: 50px;
  margin: 46px;
  padding: 2px;
}
.shop {
  margin: 46px;
  margin-top:200px;

  padding: 0;
  list-style: square;
}
.shop ul {
  list-style: square;
}
.pic {
  text-align: center;
  color: black;
  margin: 130px;
  width: fit-content;
}
.sk1 h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  text-align: center;
}
.shop h1 {
  font-family: "Helvetica Neue";
  font-size: 48px;
  font-weight: 900;
  text-align: left;
}
.shop li {
  margin-left: 40px;
  padding-left: 3px;
  list-style-image: url("../assets/check2.png");
}
.p1{
  background-color: #c4c4c4;
  margin-left: 450px;
  margin-top: -250px;
  border-style:double;
  border-color: black;
  padding: 8px;
  border-width: 1px;
  border-radius: 15px;
  width: 40%;
}
.bod .form-group{
     padding-bottom: 15px;
     margin-top: 100px;
}
.bod label{
  display: block;
}
.bod input{
  padding: 8px;
  width: 40%;
}
.login h1{
  
  margin-left: 35px;
}
.bod input[type="text"], .bod textarea{
  padding: 8px;
  width: 100%;
}
.submit input[type="submit"]{
  background-color: #b29adf;
  color: #ffffff;
  padding: 10px 8px;
  border: none;
}
.button{
  background-color: #b29adf;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 3px; 

  
}
.button:hover{
  background: #000000;
  color: #fff;
}
.submit .button{
  background-color: #b29adf;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 3px; 

  
}
.submit .button:hover{
  background: #000000;
  color: #fff;
}
.bloc{
  float: left;
  width: 33.3%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 60px;
}
.bloc h3{
  color: #543683;
}
.bloc p{
  color: #000000;
}
.mainbl{
  width: 99%;
  margin-left: 10px;
}
#main-block{
    float: left;
    color: #000000;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}
#main-block h3{
    color: #543683;
}
#sidebar{
  float: right;
  width:30%;
  background-color: #333;
  color:rgb(255, 251, 251);
  padding:15px;
  box-sizing: border-box;
  background-image: url('./assets/purple.jpg');
  background-position: -85px -130px;
  background-repeat: no-repeat;
  

}
.fix-me .button{
  background-color: cadetblue;
  position:fixed;
  top: 400px;
}
.fix-me .button:hover{
  background-color: #000000;
}