h1 {
  color: rgb(120, 91, 158);
}

body {
  background-color: #777676;
  color: #ffffff;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.container {
  width: 40%;
  margin: auto;
  border: 5px rgb(120, 91, 158);
}
.sk1 {
  text-align: center;
  margin: 46px;
  padding: 2px;
}
.login {
  background-color: #b29adf;
  color: #fff;

  border-right: 5px rgb(54, 0, 141) solid;
  border-left: 5px rgb(54, 0, 141) solid;
  border-top: 5px rgb(229, 215, 252) solid;
  border-bottom: 5px rgb(229, 215, 252) solid;
}
.bod {
  background-color: #777676;
  color: #ffffff;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  border-radius: 15px;
}
.img {
  background-color: #b29adf;
  border-right: 5px rgb(54, 0, 141) solid;
  border-left: 5px rgb(54, 0, 141) solid;
  border-top: 5px rgb(229, 215, 252) solid;
  border-bottom: 5px rgb(229, 215, 252) solid;
  border-width: 3px;
  border-bottom-width: 3px;
  border-radius: 15px;
  padding: 5px;
  width: 80%;
  margin: auto;
  text-align: center;
}
h2 {
  color: #ffffff;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 55px;
  font-weight: normal;
  line-height: 0.6em;
  padding: 2px;
}
.img h2 {
  font-family: "Gill Sans";
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  margin: 46px;
  padding: 2px;
}
.shop {
  margin: 46px;
  padding: 0;
  list-style: square;
}
.shop ul {
  padding: 0;
  list-style:square;
}
.pic {
  text-align: center;
  width: fit-content;
}
.sk1 h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  text-align: center;
}
.shop h1 {
  font-family: "Helvetica Neue";
  font-weight: 900;
  list-style: square;
}
.shop li{
  list-style-image:url('../assets/check2.png');
}
